/* {
    box-sizing: border-box;
  }*/

h1 {
    font-size: 4em;
    }

h2 {
    font-size: 2.5em;
    }

p {
    margin: 1em;
    font-size: 1.25em;
    text-align: justify;
    }

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}

a {
    font-size: 0.2vh;
    text-decoration: none;

}


  body {
    margin: 1px;
    padding-top: 6em;
    /*para el ham*/
    /*overflow: hidden;*/
    }

  header {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: baseline;  */
    padding-right: 5px; 
    margin-right: 5px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
  }

#cpl {
    width: 30vw;
    max-width: 150px

}

#nav-mi {
    color: rgb(74, 73, 73);
    padding: 0 0.2em;
}

#nav-contact {
    color: rgb(74, 73, 73);

}

.btn-menu {
    /* flex-direction: row;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    align-items: center;
    height: 0;
    padding: 0 ;
    margin: 0;
    width: 100%; */

}

header .cabecera {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 1em;
    padding-bottom: 1em; */



}

header nav {
    /* flex-direction: row; */
}

header a{
    /* display: flex;  esto cambia el sentido*/
    margin: 0;
    padding: 0;
    font-size: 6vw; 
    font-weight: bold;
    /*list-style-type: none; */
    /*justify-content: center;*/
    /*text-align: center;*/
    transition: 0.5s;

}

header a:hover {
    background-color: rgb(102, 124, 103);
}


.ham {
    display: block;
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.ham span {
    display: block;
    background-color:rgb(74, 73, 73);
    height: 2px;
    width: 23px;
    margin: 5px auto;
    border-radius: 2px;
}

.btn-menu.activado {
    display:flex;
    height: 80vh;
}

.cvbtn {
    font-size: 2.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: rgb(255, 255, 255);
    background-color: rgb(26, 131, 30);
}

.cvbtn:hover {
    background-color: rgb(18, 87, 20);
}


main .img-container {
    justify-content: center;
    align-items: center;
    margin: 0vw 0vw 0vw 0vw;
}

#foto {
    width: 90vw;
    border-radius: 50%;
    max-width: 400px
}

#title {
    margin-bottom: 2em;
    /*font-size: 3em;*/
}

header {
    background-color: rgb(255, 255, 255);
}

.presentacion {
    background-color: rgb(255, 255, 255);

    align-items: center;
    text-align: center;
}

.hablemos {
    background-color: rgb(37, 190, 42);
    margin: 1px 30px 1px 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 2em;
    border-radius: 10%;
}
.green-container {
    margin-left: 10px;
}

.iconos {
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding-left: 0em;

}

#ico-mail {
    width: 12vw;
    margin: 4em 5em 2em 2em;

}

#ico-git {
    width: 12vw;
    margin: 4em 5em 2em 5em;

}

#ico-link {
    width: 12vw;
    margin: 4em 1.3em 5em 5em;
}

footer {
    background-color: rgb(37, 190, 42);
    padding: 5em 1em;
    text-align: center;

}


@media (min-width: 420px){

header .cabecera {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: left; */
    /* padding-top: 0.5em; */
     }

.btn-menu {
    /* display: flex; */
    /* flex-direction: row;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0; */
}

button.ham {
    display: none;
}
main .img-container {
    display: inline-flex;
    justify-content: left;
    padding-left: 20px;
    margin: 0vw 0vw 0vw 0vw;
}
   #foto {
        width: 45vw;
        border-radius: 50%;
        max-width: 320px

    }
.foto-title {
    display: flex;
    justify-content: space-between;
}
.iconos {
    display: flex;
    flex-direction: column;
    justify-content:left;
    padding-left: 0em;
}
#ico-mail {
    width: 12vw;
    margin: 4em 5em 2em 2em;
    max-width: 70px;
}
#ico-git {
    width: 12vw;
    margin: 4em 5em 2em 5em;
    max-width: 70px;
    }
#ico-link {
    width: 12vw;
    margin: 4em 1.3em 5em 5em;
    max-width: 70px;
    }

footer {
    background-color: rgb(37, 190, 42);
    font-size: 30px;
    padding: 5px 5px 5px 5px;
    }
}  /*pertenece al query*/